meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title="Mathis Humbert - Interactive Developer"

meta(name="description" content="Mathis Humbert is a self-taught interactive developer specializing in interaction, animation, motion, and 3D/WebGL.")

link(rel="apple-touch-icon" sizes="256x256" href="/favico.ico")
link(rel="icon" type="image/ico" sizes="256x256" href="/favico.ico")
link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#11191d")

meta(name="msapplication-TileColor" content="#cef571")
meta(name="theme-color" content="#cef571")

meta(property="og:type" content="website")
meta(property="og:title" content="Mathis Humbert - Interactive Developer")
meta(property="og:description" content="Mathis Humbert is a self-taught interactive developer specializing in interaction, animation, motion, and 3D/WebGL.")
meta(property="og:image" content="")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Mathis Humbert - Interactive Developer")
meta(name="twitter:description" content="Mathis Humbert is a self-taught interactive developer specializing in interaction, animation, motion, and 3D/WebGL.")
meta(name="twitter:image" content="/og-image.png")

//- Google Tag Manager
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WMN58XLN');
