meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title="Mathis Humbert - Creative Developer"

meta(name="description" content="Mathis Humbert is a 25yo french self-taught developer specialized in interaction, animation, and motion usually working with JavaScript, WebGL, HTML and CSS.")

link(rel="apple-touch-icon" sizes="180x180" href="/favico.svg")
link(rel="icon" type="image/png" sizes="32x32" href="/favico.svg")
link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#cef571")

meta(name="msapplication-TileColor" content="#cef571")
meta(name="theme-color" content="#cef571")

meta(property="og:type" content="website")
meta(property="og:title" content="Mathis Humbert - Creative Developer")
meta(property="og:description" content="Mathis Humbert is a 25yo french self-taught developer specialized in interaction, animation, and motion usually working with JavaScript, WebGL, HTML and CSS.")
meta(property="og:image" content="")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Mathis Humbert - Creative Developer")
meta(name="twitter:description" content="Mathis Humbert is a 25yo french self-taught developer specialized in interaction, animation, and motion usually working with JavaScript, WebGL, HTML and CSS.")
meta(name="twitter:image" content="")
