.home
  .home__wrapper#wrapper
    h1.home__title 
      span.home__title__top 
        span.home__title__top__wrapper
          span Creative
      span.home__title__middle
        span.home__title__middle__wrapper
          span Mathis Humbert
      span.home__title__bottom
        span.home__title__bottom__wrapper
          span Developer
    .home__text
      p(data-animation='text' data-delay=0.3) Mathis Humbert is a self-taught developer. After working 2 years as a full-time front-end developer, he transitioned to freelance over a year ago, specializing in interaction, motion, and 3D/WebGL, and is now founding Alpha Portfolio, an AI-powered SaaS for investors.
      br
      p(data-animation='text' data-delay=0.4) He collaborates with web agencies, companies, startups, and individuals worldwide to craft award-winning digital experiences.
      br
      p(data-animation='text' data-delay=0.5) Currently founding Alpha Portfolio, a SaaS platform offering AI-powered portfolio creation, management, and analytics for modern investors.
    .home__infos 
      .home__infos__list 
        h4.home__infos__title(data-animation='title' data-delay=0.75) Works:
        a.home__infos__link(href="https://preymaker.vercel.app/" target="_blank" data-animation='title' data-delay=0.95) Preymaker
        a.home__infos__link(href="https://ethanandtom.com/" target="_blank" data-animation='title' data-delay=1) Ethan & Tom 
        a.home__infos__link(href="https://localstudio.fr/" target="_blank" data-animation='title' data-delay=1.05) Local Studio 
        a.home__infos__link(href="https://evanfasquelle.com/" target="_blank" data-animation='title' data-delay=1.1) Evan Fasquelle 
      .home__infos__list 
        h4.home__infos__title(data-animation='text' data-delay=0.85) Venture 
        a.home__infos__text(href="https://www.alpha-portfolio.net/" target="_blank" data-animation='title' data-delay=1.05) Alpha Portfolio
      .home__infos__list
        h4.home__infos__title(data-animation='text' data-delay=0.95) Awards:
        p.home__infos__text(data-animation='text' data-delay=1.15) Site of The Day x2
        p.home__infos__text(data-animation='text' data-delay=1.2) Developer Awards x2
        p.home__infos__text(data-animation='text' data-delay=1.25) FWA of The Day x2
        p.home__infos__text(data-animation='text' data-delay=1.3) Website of The Day x2
      .home__infos__list
        h4.home__infos__title(data-animation='text' data-delay=1.05) Availability for Freelance:
        p.home__infos__text#availability(data-animation='text' data-delay=1.25) September 2024
    ul.home__footer__links 
      li.home__footer__link
        a(href="mailto:mathishumbert71@gmail.com" target="_blank" data-animation='title' data-delay=1.1 data-rotate='true') Email
      li.home__footer__link
        a(href="https://x.com/Mathis1Humbert" target="_blank" data-animation='title' data-delay=1.2 data-rotate='true') Twitter
      li.home__footer__link
        a(href="https://www.linkedin.com/in/mathis-humbert-1612ba1b5/" target="_blank" data-animation='title' data-delay=1.3 data-rotate='true') LinkedIn
      li.home__footer__link
        a(href="https://github.com/MathisHumbert" target="_blank" data-animation='title' data-delay=1.4 data-rotate='true') Github