.home
  .home__wrapper#wrapper
    h1.home__title 
      span.home__title__top 
        span.home__title__top__wrapper
          span Creative
      span.home__title__middle
        span.home__title__middle__wrapper
          span Mathis Humbert
      span.home__title__bottom
        span.home__title__bottom__wrapper
          span Developer
    .home__text
      p(data-animation='text' data-delay=0.3) Mathis Humbert is a self-taught creative developer specializing in interaction, animation, motion, and 3D/WebGL. I collaborate with web agencies, companies, startups, and individuals worldwide to bring ideas to life through dynamic and engaging digital experiences.
      br

    .home__infos 
      .home__infos__left
        .home__infos__left__top
          .home__infos__availability
            p.home__infos__availability__text(data-animation='text' data-delay=0.8) Availability for Freelance:
            p.home__infos__availability__date(data-animation='text' data-delay=1) September 2024
          .home__infos__awards
            .home__infos__awards__wrapper
              p.home__infos__awards__title(data-animation='text' data-delay=0.8) Awwwards:
              p.home__infos__awards__text(data-animation='text' data-delay=1) Site of The Day x2
              p.home__infos__awards__text(data-animation='text' data-delay=1) Developer Awards x2
            .home__infos__awards__wrapper
              p.home__infos__awards__title(data-animation='text' data-delay=0.85) FWA:
              p.home__infos__awards__text(data-animation='text' data-delay=1.05) FWA of The Day x2
            .home__infos__awards__wrapper
              p.home__infos__awards__title(data-animation='text' data-delay=0.9) CSSDA:
              p.home__infos__awards__text(data-animation='text' data-delay=1.1) Website of The Day x2
        ul.home__infos__links 
          li.home__infos__link
            a(href="mailto:mathishumbert71@gmail.com" target="_blank" data-animation='title' data-delay=1.1 data-rotate='true') Email
          li.home__infos__link
            a(href="https://x.com/Mathis1Humbert" target="_blank" data-animation='title' data-delay=1.2 data-rotate='true') Twitter
          li.home__infos__link
            a(href="https://www.linkedin.com/in/mathis-humbert-1612ba1b5/" target="_blank" data-animation='title' data-delay=1.3 data-rotate='true') LinkedIn
          li.home__infos__link
            a(href="https://github.com/MathisHumbert" target="_blank" data-animation='title' data-delay=1.4 data-rotate='true') Github
      .home__infos__right
        a.home__infos__right__project(href="https://evanfasquelle.com/" target="_blank")  
          img.home__infos__image(src="/images/evan-fasquelle.webp", alt="evan-fasquelle")
          .home__infos__text 
            p See it Live
        a.home__infos__right__project(href="https://localstudio.fr/" target="_blank" )  
          img.home__infos__image(src="/images/local-studio.webp", alt="local-studio")
          .home__infos__text 
            p See it Live