.home
  .home__wrapper#wrapper
    h1.home__title 
      span.home__title__top 
        span Creative
      span.home__title__middle
        span Mathis Humbert
      span.home__title__bottom
        span Developer
    .home__text
      p Mathis Humbert is a 25yo french self-taught developer specialized in interaction, animation, and motion usually working with web agencies, companies, startups and individuals all over the world.
      br
      p He loves to create web sites that have unique and creative designs, to push his knowledge of developer and to deliver a pixel perfect result.
    .home__infos 
      .home__infos__left 
        .home__infos__availability
          .home__infos__availability__wrapper
            p.home__infos__availability__text Availability for Freelance work from :
            p.home__infos__availability__date July 2024
          .home__infos__availability__wrapper
            p.home__infos__availability__text Currently looking for a creative developer job :
            p.home__infos__availability__date September 2024
        ul.home__infos__links 
          li.home__infos__link
            a(href="mailto:mathishumbert71@gmail.com" target="_blank") Email
          li.home__infos__link
            a(href="https://x.com/Mathis1Humbert" target="_blank") Twitter
          li.home__infos__link
            a(href="https://www.linkedin.com/in/mathis-humbert-1612ba1b5/" target="_blank") LinkedIn
          li.home__infos__link
            a(href="https://github.com/MathisHumbert" target="_blank") Github
      a.home__infos__right(href="https://evanfasquelle.com/" target="_blank")  
        img.home__infos__image(src="/project.png", alt="evan-fasquelle")