.home
  .home__wrapper#wrapper
    h1.home__title 
      span.home__title__top 
        span.home__title__top__wrapper
          span Interactive
      span.home__title__middle
        span.home__title__middle__wrapper
          span Mathis Humbert
      span.home__title__bottom
        span.home__title__bottom__wrapper
          span Developer
    .home__text
      p(data-animation='text' data-delay=0.3) Mathis Humbert is a self-taught developer. After working 2 years as a full-time front-end developer, he transitioned to freelance, collaborating with agencies, startups, and companies worldwide.
      br
      p(data-animation='text' data-delay=0.4) He crafts award-winning digital experiences through long-term collaborations and custom web projects for clients worldwide.
      br
      p(data-animation='text' data-delay=0.5) His expertise includes performance optimization, UX/UI design, animations, and immersive 3D/WebGL experiences.
    .home__infos 
      .home__infos__left
        .home__infos__left__top
          .home__infos__work
            p.home__infos__work__title(data-animation='title' data-delay=0.95) Works:
            a.home__infos__work__link(href="https://preymaker.vercel.app/" target="_blank" data-animation='title' data-delay=1.15) Preymaker
            a.home__infos__work__link(href="https://ethanandtom.com/" target="_blank" data-animation='title' data-delay=1.2) Ethan & Tom 
            a.home__infos__work__link(href="https://localstudio.fr/" target="_blank" data-animation='title' data-delay=1.25) Local Studio 
            a.home__infos__work__link(href="https://evanfasquelle.com/" target="_blank" data-animation='title' data-delay=1.3) Evan Fasquelle 
          .home__infos__awards
            .home__infos__awards__wrapper
              p.home__infos__awards__title(data-animation='text' data-delay=0.8) Awwwards:
              p.home__infos__awards__text(data-animation='text' data-delay=1) Site of The Day x2
              p.home__infos__awards__text(data-animation='text' data-delay=1.05) Developer Awards x2
              p.home__infos__awards__text(data-animation='text' data-delay=1.1) FWA of The Day x2
              p.home__infos__awards__text(data-animation='text' data-delay=1.15) Website of The Day x2
        ul.home__infos__links 
          li.home__infos__link
            a(href="mailto:mathishumbert71@gmail.com" target="_blank" data-animation='title' data-delay=1.1 data-rotate='true') Email
          li.home__infos__link
            a(href="https://x.com/Mathis1Humbert" target="_blank" data-animation='title' data-delay=1.2 data-rotate='true') Twitter
          li.home__infos__link
            a(href="https://www.linkedin.com/in/mathis-humbert-1612ba1b5/" target="_blank" data-animation='title' data-delay=1.3 data-rotate='true') LinkedIn
          li.home__infos__link
            a(href="https://github.com/MathisHumbert" target="_blank" data-animation='title' data-delay=1.4 data-rotate='true') Github
      .home__infos__availability
        p.home__infos__availability__text(data-animation='text' data-delay=0.75) Availability for Freelance:
        p.home__infos__availability__date(data-animation='text' data-delay=0.95) September 202
