doctype html
html(lang="en")
  head
    include _includes/layouts/head.pug

  body
    //- Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WMN58XLN" height="0" width="0" style="display:none;visibility:hidden")

    include _includes/pages/home.pug

  script.

  script(type="module", src="/src/app/index.js")
