.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  @extend %page__wrapper;

  position: relative;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media("<phone") {
    max-height: 100vh;
  }
}

.home__title {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 20rem;
  line-height: 80%;
  letter-spacing: calc(-20rem * 0.05);
  font-weight: 500;
  margin-top: -4rem;

  @include media("<phone") {
    margin-top: 10rem;
    font-size: 10rem;
    letter-spacing: calc(-10rem * 0.05);
  }
}

.home__title__top {
  margin-left: 35.7rem;
  overflow: hidden;

  .home__title__top__wrapper {
    display: inline-block;
    transform: translateY(32%);
    overflow: hidden;

    span {
      display: inline-block;
      vertical-align: top;
      will-change: transform;
    }
  }

  @include media("<phone") {
    margin-left: 0;
  }
}

.home__title__middle {
  margin-left: 2.5rem;
  overflow: hidden;

  .home__title__middle__wrapper {
    display: inline-block;
    overflow: hidden;

    span {
      display: inline-block;
      vertical-align: top;
      will-change: transform;
    }
  }

  @include media("<phone") {
    margin-left: 0;
  }
}

.home__title__bottom {
  margin-left: 27.7rem;
  overflow: hidden;

  .home__title__bottom__wrapper {
    display: inline-block;
    transform: translateY(-45%);
    overflow: hidden;

    span {
      display: inline-block;
      vertical-align: top;
      will-change: transform;
    }
  }

  @include media("<phone") {
    margin-left: 0;
  }
}

.home__text {
  @extend %text;

  position: absolute;
  top: 4rem;
  left: 0;
  padding: 0 4rem;
  max-width: 45rem;
  mix-blend-mode: exclusion;

  @include media("<phone") {
    top: 2.5rem;
    padding: 0 2.5rem;
  }
}

.home__infos {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin-bottom: 10rem;

  @include media("<phone") {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2.5rem;
  }
}

.home__infos__list {
  display: flex;
  flex-direction: column;

  @include media("<phone") {
    &:nth-of-type(3),
    &:nth-of-type(4) {
      display: none;
    }
  }
}

.home__infos__title {
  @extend %text;
}

.home__infos__link,
.home__infos__text {
  @extend %text;

  color: $color-perfume;
  width: fit-content;
}

.home__footer__links {
  position: absolute;
  left: 0;
  bottom: 4rem;
  padding: 0 4rem;
  display: flex;
  gap: 2rem;

  @include media("<phone") {
    bottom: 2.5rem;
    padding: 0 2.5rem;
  }
}

.home__footer__link {
  @extend %text;

  overflow: hidden;
}
