.home {
  @extend %page;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {
  @extend %page__wrapper;

  position: relative;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media('<phone') {
    max-height: 100vh;
  }
}

.home__title {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 20rem;
  line-height: 80%;
  letter-spacing: calc(-20rem * 0.05);
  font-weight: 500;
  margin-top: -4rem;

  @include media('<phone') {
    margin-top: 10rem;
    font-size: 10rem;
    letter-spacing: calc(-10rem * 0.05);
  }
}

.home__title__top {
  margin-left: 35.7rem;
  overflow: hidden;

  .home__title__top__wrapper {
    display: inline-block;
    transform: translateY(32%);
    overflow: hidden;

    span {
      display: inline-block;
      vertical-align: top;
      will-change: transform;
    }
  }

  @include media('<phone') {
    margin-left: 0;
  }
}

.home__title__middle {
  margin-left: 2.25rem;
  overflow: hidden;

  .home__title__middle__wrapper {
    display: inline-block;
    overflow: hidden;

    span {
      display: inline-block;
      vertical-align: top;
      will-change: transform;
    }
  }

  @include media('<phone') {
    margin-left: 0;
  }
}

.home__title__bottom {
  margin-left: 27.7rem;
  overflow: hidden;

  .home__title__bottom__wrapper {
    display: inline-block;
    transform: translateY(-45%);
    overflow: hidden;

    span {
      display: inline-block;
      vertical-align: top;
      will-change: transform;
    }
  }

  @include media('<phone') {
    margin-left: 0;
  }
}

.home__text {
  @extend %text;

  position: absolute;
  top: 4.2rem;
  left: 4.5rem;
  max-width: 45rem;
  mix-blend-mode: exclusion;

  @include media('<phone') {
    top: 2.25rem;
    left: 2.25rem;
  }
}

.home__infos {
  display: flex;
  justify-content: space-between;
  padding: 0 4.5rem;
  transform: translateY(-2rem);

  @include media('<phone') {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0 2.5rem 0;
  }
}

.home__infos__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media('<phone') {
    gap: 2rem;
  }
}

.home__infos__left__top {
  display: flex;
  gap: 21.5rem;
  margin-bottom: 7.2rem;

  @include media('<phone') {
    flex-direction: column-reverse;
    gap: 2rem;
    margin-bottom: 0;
  }
}

.home__infos__availability__text {
  @extend %text;

  max-width: 21.4rem;
}

.home__infos__availability__date {
  @extend %text;

  color: $color-perfume;
}

.home__infos__awards {
  display: flex;
  gap: 4.5rem;

  @include media('<phone') {
    display: none;
  }
}

.home__infos__awards__title {
  @extend %text;

  max-width: 21.4rem;
}

.home__infos__awards__text {
  @extend %text;

  color: $color-perfume;
  white-space: nowrap;
}

.home__infos__links {
  display: flex;
  // flex-direction: column;
  gap: 2rem;

  @include media('<phone') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.home__infos__link {
  @extend %text;

  transform: translateY(-2rem);
  overflow: hidden;

  @include media('<phone') {
    transform: translateY(0);
  }
}

.home__infos__right {
  display: flex;
  flex-direction: column;
}

.home__infos__right__title {
  @extend %text;
}

.home__infos__right__link {
  @extend %text;

  color: $color-perfume;
}
