.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  z-index: z('navigation');
  pointer-events: none;
}

.nav__logo {
  width: 1.6rem;
  height: 1.7rem;

  @include media('<phone') {
    width: calc(1.6rem * 2);
    height: calc(1.7rem * 2);
  }
}

.nav__text,
.nav__link {
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: right;
  pointer-events: all;

  @include media('<phone') {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}

.nav__time {
  font-size: 1.5rem;
  line-height: 1.8rem;

  @include media('<phone') {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}

.nav__top,
.nav__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
