@font-face {
  font-family: $font-geist;
  src: url('../fonts/geist-medium.woff2') format('woff2'),
    url('../fonts/geist-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-geist;
  src: url('../fonts/geist-medium.woff2') format('woff2'),
    url('../fonts/geist-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-geist;
  src: url('../fonts/geist-regular.woff2') format('woff2'),
    url('../fonts/geist-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-geist;
  src: url('../fonts/geist-regular.woff2') format('woff2'),
    url('../fonts/geist-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
